
:root {
  font-family: 'Orbitron', sans-serif;
}
.img {
  border: 0;
}
th {
  text-align: start;
  white-space: nowrap;
}
th > a {
  color: inherit;
}
table[order] > thead > tr > th {
  cursor: pointer;
}
table[order] > thead > tr > th::after {
  display: none;
  width: .8em;
  margin-inline-end: -.8em;
  text-align: end;
}
table[order="asc"] > thead > tr > th::after {
  content: "\2193"; /* DOWNWARDS ARROW (U+2193) */
}
table[order="desc"] > thead > tr > th::after {
  content: "\2191"; /* UPWARDS ARROW (U+2191) */
}
table[order][order-by="0"] > thead > tr > th:first-child > a ,
table[order][order-by="1"] > thead > tr > th:first-child + th > a ,
table[order][order-by="2"] > thead > tr > th:first-child + th + th > a {
  text-decoration: underline;
}
table[order][order-by="0"] > thead > tr > th:first-child::after ,
table[order][order-by="1"] > thead > tr > th:first-child + th::after ,
table[order][order-by="2"] > thead > tr > th:first-child + th + th::after {
  display: inline-block;
}
table.remove-hidden > tbody > tr.hidden-object {
  display: none;
}
td {
  white-space: nowrap;
}
table.ellipsis {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}
table.ellipsis > tbody > tr > td {
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* name */
/* name */
th:first-child {
  padding-inline-end: 2em;
}
/* size */
th:first-child + th {
  padding-inline-end: 1em;
}
td:first-child + td {
  text-align: end;
  padding-inline-end: 1em;
}
/* date */
td:first-child + td + td {
  padding-inline-start: 1em;
  padding-inline-end: .5em;
}
/* time */
td:first-child + td + td + td {
  padding-inline-start: .5em;
}
.symlink {
  font-style: italic;
}
.dir ,
.symlink ,
.file {
  margin-inline-start: 20px;
}
.dir::before ,
.file > img {
  margin-inline-end: 4px;
  margin-inline-start: -20px;
  max-width: 16px;
  max-height: 16px;
  vertical-align: middle;
}
.dir::before {
  content: url(resource://content-accessible/html/folder.png);
}
.icon1 {
  background: url('./test-icon.png');
  height: 25px;
  width: 25px;
  display: block;
}

  .login{
    min-height: 80vh;
    background-color: #f7f7f7;
  }
  .login .login-page{
    height: 80vh;display: flex;align-items: center;
  }
  .login .login-sidebar, .login-form-wrapper{
    background: #b3dcf5;height: 80vh;
  }
  .login .login-sidebar{
    background:  url('https://images.pexels.com/photos/926390/pexels-photo-926390.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .login .login-sidebar::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom right,#21AEA2,#6472A5);
    opacity: .8;
  }
  .login .login-sidebar .login-gradient-background{
    position: absolute;z-index: 2;
  }
  .login .login-sidebar .login-gradient-background h1{
    font-size: 2em;font-weight: 600;text-transform: uppercase;color: #be0b0b;
  }
  
  .login-form-wrapper .register-btn a{
    color: rgb(255, 46, 46);border-radius: 18px;padding: 0.57em 2em;background: #21AEA2;
  }
  .login-form-wrapper .register-btn a:hover{
    opacity: .8;
  }
  .field-box .field{margin-bottom: 2.1em;}
  .login-form-wrapper .field-box{
    display: flex;
    height: 80%;
    align-items: center;
  }
  .login-form-wrapper .field-box .login-heading{
    font-size: 1.95em;
  }
  .login-form-wrapper .field-box .login-subheading{
    margin-bottom: 2em;font-size: 0.85em;color: #787877;
  }
  
  .login-form-wrapper .field-box .login-btn-group .login-btn{
    background: #6472A5;color: #ffffff;border-radius: 18px;padding: 0.57em 2em;
  }
  .login-form-wrapper .field-box .login-btn-group .forgot-link{
    color: #777777;font-size: 0.85em;
  }
  .login-form-wrapper .field-box .login-btn-group .forgot-link:hover{
    color: #444444;font-size: 0.85em;
  }